
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font: 100%/1.5em 'Roboto', sans-serif;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  display:          flex;
  min-height:       100vh;
  min-width:        30em;
  max-width:        100vw;
  flex-direction:   column;
  margin:           0 auto;
  color:            #555;
  }

a:link {
  color:            #888;
  font-weight:      bold;
  text-decoration:  none;
  text-transform:   uppercase;
  }
a:visited { color:#888; }
a:hover { color:#666; }
a:active {color:#222; }

button {
  border:           1px solid #bbb;
  background:       linear-gradient(#f6f6f6, #e1e1e1);
  box-shadow:       inset 0px 1px 0px rgba(255, 255, 255, 0.3),
                    0 1px 2px rgba(0, 0, 0, 0.15);
  color:            #888;
  cursor:           pointer;
  font-size:        0.8em;
  font-weight:      bold;
  text-transform:   uppercase;
  }
button:hover,
button:focus {
  color:            #666;
  background:       linear-gradient(white, #dcdcdc);
  }
button:active {
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2),
              0px 1px 0px white;
  }
