
/* 
 * List of links.
 */
#links {
  margin:           0;
  margin-top:       3em;  /* Account for fixed toolbar */
  padding:          0;
  }
#links li {
  padding:          0.75em 1em;
  border-top:       1px solid white;
  border-bottom:    1px solid white;
  list-style:       none;
  }
#links li:hover,
#links li.editing {
  border-color:     #ddd;
  background-color: #f4f4f4;
  }
#links a { text-decoration:underline; }

#links li strong {
  display:          block;
  color:            #555;
  font-size:        1.15em;
  font-weight:      700;
  text-transform:   none;
  }

#links li a.link:link,
#links li a.link:visited {
  color:            #555;
  font-weight:      normal;
  text-transform:   none;
  }
#links li a.link:hover { color:#000; }

#links li .controls { font-size:0.8em; }
#links li .controls span {
  display:          inline-block;
  width:            8em;
  color:            #888;
  letter-spacing:   0.075em;
  text-transform:   uppercase;
  }
#links li .controls a {
  display:          inline-block;
  margin-left:      1em;
  }


/* 
 * Editing form.
 */
.editing fieldset {
  padding:          0;
  border:           none;
  }
.editing form div {
  display:          flex;
  flex-direction:   row;
  flex-wrap:        nowrap;
  padding:          0.3em 0;
  line-height:      2em;
  }
.editing label {
  width:            3em;
  padding-right:    1em;
  text-align:       right;
  }
.editing input {
  flex-grow:        1;
  padding:          0 0.3em;
  }
#links form .controls {
  padding-left:     4em;
  font-size:        1em;
  }
#links form .controls button {
  margin-right:     0.5em;
  padding:          0.3em 0.75em;
  }
