
#toolbars {
  position:         fixed;
  width:            100vw;
  box-shadow:       0px 1px 3px rgba(0,0,0,0.12),
                    0px 1px 2px rgba(0,0,0,0.24);
  }


/* 
 * General tools.
 */
.toolbar {
  display:          flex;
  flex-direction:   row;
  flex-wrap:        nowrap;
  height:           3em;
  border-bottom:    1px solid #bbb;
  background-color: #fff;
  line-height:      3em;
  }


#search {
  display:          flex;
  flex-direction:   row;
  flex-wrap:        nowrap;
  flex-grow:        1;
  max-width:        95%;
  min-width:        50%;
  padding-left:     3.5em;
  background:       url("../img/search.png") no-repeat 1em 50%;
  outline:          none;
  }
#search input {
  flex-grow:        1;
  border:           0;
  }
#counter {
  margin-left:      auto;
  padding:          0 1.5em;
  font-size:        0.8em;
  }

#add-link-toggle {
  margin-left:      auto;
  border-left:      1px solid #bbb;
  }
#add-link-toggle a {
  display:          inline-block;
  padding:          0 1.5em 0 3.2em;
  background:       url("../img/add.png") no-repeat 1.8em 45%;
  font-size:        0.8em;
  }


/* 
 * Link creation interface.
 */
#add-link-ui {
  position:         absolute;
  top:              0;
  right:            0;
  width:            0;
  border-left:      1px solid #ccc;
  background-color: #f8f8f8;
  line-height:      2em;
  overflow-x:       hidden;
  z-index:          10;
  }
#add-link-ui * { margin:0.5em 0; }
#add-link-ui label {
  display:          inline-block;
  padding:          0 1em;
  }
#add-link-ui input {
  flex-grow:        1;
  padding:          0 0.3em;
  }
#add-link-ui button {
  margin:           0.6em 0;  /* Account for modified line-height + font-size */
  margin-left:      0.5em;
  padding:          0 1em;
  }
#add-link-ui button:last-child { margin-right:1.5em; }

/* Input interface open/close animations */
@keyframes slide-in  {
  0%   { width:0%; }
  100% { width:100%; }
  }
@keyframes slide-out {
  0%   { width:100%; }
  100% { width:0%; }
  }
.slide-in  { animation:slide-in 0.3s ease-in-out forwards; }
.slide-out { animation:slide-out 0.3s ease-in-out forwards; }
